.storyCard {
  width: 24vw;
}

@media screen and (max-width: 775px) {
  .storyCard{
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .storyCard{
    width: 45vw;
  }
}

@media screen and (max-width: 500px) {
  .storyCard{
    width: 95vw;
    justify: center;
  }
}
